*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
:root
{
    --grey:#0D1321;
}
.leftscreen
{
    position: fixed;
    border: solid;
    border-color: white;
    background: var(--grey);
    height:100vh;
}
.Titre
{
    margin-top: 1vh;
}
section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home
{
    background: #333745;
}
#Hobbies
{
    background: #D8F2FF;
}
#Contact
{
    margin: 0;
    padding: 0;
    background: black;
}
.button
{
    background: #333745;
    width: 100%;
}


