*
{
    margin:0;
    padding:0;
}
body
{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
:root
{
    --grey:#0D1321;
    --green: #00ff19;
    --blue: #0F07A7;
}
.leftscreen
{
    position: fixed;
    border: solid;
    border-color: white;
    background: var(--grey);
    height:100vh;
}
.Titre
{
    margin-top: 1vh;
}
section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home
{
    background: #333745;
}
#Hobbies
{
    background: #D8F2FF;
}
.button
{
    background: #333745;
    width: 100%;
}
.terminal
{
    color: var(--green);
}
.wrapper{
    position: absolute;


}
.close_terminal
{
    font-size: 150%;
    color:black;
    padding: 0 2% 0 2%;
    margin-left:65%;
}
.close_terminal:hover
{
    transition: 800ms;
    color:white;
    background: red;
    border-radius: 15%;
}
.blue
{
    color: var(--blue)
}




